# Environment files
.env

# Virtual environment
aienv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/

# Mac system files
.DS_Store

# Ignore schema snapshot
/data/schema.json

# Ignore FAISS vector store
/data/faiss_index/